<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <p>This is the homepage served by Symfony + Twig!</p>
    <p><a href="{{ path('about') }}">Go to About Page</a></p>
    <p>Products List:
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>
